@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  
}

body {
  line-height: 1.6;
  /* background: url('bg.jpg') no-repeat center center fixed; */
  overflow-x: hidden;
  align-items: center;
  background-color: black;
  
}

body::-webkit-scrollbar {
  width: .6rem; 
   /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(175, 24, 24);    /* color of the scroll thumb */
  border-radius: .4em;     /* roundness of the scroll thumb */
 /* creates padding around scroll thumb */
}

header {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  font-size: 1.5em;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

nav {
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.hamburger {
  display: none;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}

.hamburger span {
  display: block;
  background: #f3f3f3;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

.links-menu {
  display: flex;
  padding: 0;
}

.links-menu li {
  padding: 0 40px;
  list-style-type: none;
}

.links-menu li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
  transition: .3s;
}

.links-menu li a:hover {
  color: #00eeff;
}

.links-menu.active {
  display: flex;
  animation: openMenu 350ms ease-in-out both;
}

/* Animación de las barras del menu hamburger */
.br-1.animate {
  transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animate {
  opacity: 0;
}

.br-3.animate {
  transform: rotate(45deg) translate(-10px, -8px);
}

/* Animación del menu */
@keyframes openMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Inicio de la sección MAIN */

section {
  min-height: 100vh;
  min-width: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background:#000;
  font-size: 15vh;
  color: #ffffff;
  font-weight: 700;
}



/*Acá arranca el slider de inicio*/
  .slider {
    overflow: hidden;
  }

.slider--inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: all 0.1s ease-in;
  align-items: center;
  
  
}
.slider--inner img{
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

img {
  width: 100%;
  height: auto;
}
/*Acá termina el slider de inicio*/


/*.grid-item {
  background-color: rosybrown;
  display: flex;
  
  align-items: center;
  justify-content: center;
  border-radius: .1em;
  transition: transform 0.3s ease-in-out;
}
.grid-item:hover {
  filter: opacity(.9);
  transform: scale(1.04);
}


#personajes{
  display: grid;
  padding: .3em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows:auto;
  gap: .2em;
}*/

#personajes {
  padding-top: 8vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  background: #000;
 
 
}

.card {
  font-size: 2vh;
  position: relative;
  width: 35vh;
  height: 40vh;
  margin: 1em ;
}


.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .8s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0,0,0,.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgba(3,35,54);
  padding: .2em;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card .back h3 {
  font-size: 4vh;
  
}

.card .back p {
  letter-spacing:.1em;
  padding: .5em;
  font-size: 1.8vh;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}




















form {
  margin-right: 0px;
  font-size: 16px;
  color: rgb(10, 2, 83);
  background-color: rgba(7, 5, 15, 0)
}













/* MQ */
@media screen and (max-width: 900px ) {

.slider--inner img{

 height: 100vh;
}
section {
 
  overflow: hidden;
  font-size: 3.5em;
  height: 100vh;
  
  }

  #personajes {
    overflow-y: scroll;
  }

  .logo {
    padding-left: 1em;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 1em;
    right: 0;
    padding-right: 1em;
    cursor: pointer;
  
  }

  header {
    position: fixed;
  }

  nav {
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
  
    
  }

  .links-menu {
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100vh;
    display: none;
    opacity: 0;
  }

  .links-menu li {
    align-items: center;
    padding: 1em;
    width: 100vh;
  }








}


